<h1><%= @tv_show.name %></h1>

<% @tv_show.seasons.each do |season| %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Staffel <%= season.season_number %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% season.episodes.each do |episode| %>
    <tr>
      <td><%= episode.name %></td>
      <td><a href="#" class="btn btn-default">Habe ich gesehen</a></td>
      <td><a href="#" class="btn btn-default">Will ich sehen</a></td>
      <td><a href="#" class="btn btn-default">Sehe </a></td>
    </tr>
  <% end %>
  </tbody>
<% end %>
</table>